.global {
    background: #000;
}

.header { 

    width: 100%;
    color: #fff;
    display: flex;

    &__logo {
        width: 30%;
    }

    &__menu {
        width: 70%;
        margin: auto;
    }

    &__menu ul{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
